.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    font-size: 24px;
}
